#aboutcontent {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ourheros {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    width: 100%;
    height: fit-content;

}

.aboutcard {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 352px;
    height: 334px;
    border-radius: 20px;
    background: #FFB4D3;
    margin: 10px;
    flex-direction: column;
}

.aboutususer {
    width: 100%;
    height: 70%;

}

.aboutsection {
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: row;
}

.aboutsectionbottom {
    width: 100%;
    justify-content: flex-end;
    display: right;
    text-align: right;
    flex-direction: row;
}