#homecontent {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fronttext {
    color: var(--fg-foreground-primary, #fff);
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    /* 113.889% */
    letter-spacing: 1px;
}

.frontp {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    padding-bottom: 40px;
}

.starttextbox {
    width: 600px;
    /* border: 1px outset rgb(22, 8, 219);  */
    padding-top: 150px;
    padding-bottom: 40px;
}

.starttextbox2 {
    width: 600px;
    /* border: 1px outset rgb(22, 8, 219);  */
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px outset red */
}

.buttonplacement {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px outset rgb(22, 8, 219);  */
}

.started {
    margin-top: 3px;
    border-radius: 16px;
    background: #ceaaff;
    width: 118px;
    height: 48px;
    font-weight: 700;
}

.arrow {
    width: 20.5px;
    height: 21px;
    padding-bottom: 60px;
}

.arrowplacement {
    display: flex;
    justify-content: center;
    width: 600px;
    /* border: 1px outset rgb(22, 8, 219); */
    padding-top: 134px;
}

.starshell {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    /* border: 1px outset rgb(22, 8, 219); */

}

.stars {
    width: 100px;
    height: 100px;
    padding-right: 200px;
}

.ready {
    display: flex;
    width: 33%;
    width: fit-content;
    padding-bottom: 40px;
}

.option {
    display: flex;
    padding: 8px 26px;
    align-items: center;
    background-color: rgba(24, 38, 50, 1);
    height: 27px;
    width: fit-content;
    border-radius: 100px;

}

.optionplacement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 60%;
    /* border: 1px outset rgb(22, 8, 219); */
    flex-wrap: wrap;
    gap: 8px;

}

.cards {
    width: 1137px;
    height: 500px;
    padding-top: 40px;
    position: relative;


}

.projects {
    height: 32px;
    width: auto;
    background-color: rgba(255, 180, 211, 1);
    position: absolute;
    margin-top: 540px;
    border-radius: 100px;
}

.cardsplacement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.listoftext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

.highstars {
    width: 76.171px;
    height: 57px;

}

.lefttext {
    display: flex;
    width: 80%;
    height: 100px;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 80px;
}

.rightimg {
    display: flex;
    width: 20%;
    height: 100px;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 100px;
}

ul.summary {
    display: flex;
    text-align: center;
    font-size: 54px;
    display: inline-block;
    padding-bottom: 200px;

}

li.summaryitem {
    color: #37424D;
    display: inline-block;
    font-size: 54px;
    font-weight: 700;
}

li.summaryitem:hover {
    color: pink;
}



.listoftext2 {
    width: 916px;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.bstars {
    width: 55px;
    height: 43px;

}

.pstars {
    width: 55px;
    height: 43px;
    padding-left: -200px;
}

.icondcardsbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}

.iconcards {
    width: 160px;
    height: 160px;
    border: 2px solid #2A3744;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.icons {
    width: 100px;
    height: 100px;
}

.help {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.iconwords {
    display: flex;
    width: 160px;
    justify-content: center;

}

.wordsicon {
    display: flex;
    align-content: center;
    gap: 35px;
    padding-bottom: 250px;
}

.users {
    width: 150px;
    height: 150px;
    padding: 15px;
}

.help2 {
    width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

ul.starlist {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 1100px;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    list-style-type: none;
    display: flex;
}

li.staritems {
    display: inline;
    font-size: 40px;
    font-weight: 700;

}

.smallstars {
    padding-left: 15px;
    padding-top: 20px;
}

.weekly {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 1100px;
    height: 390px;
    border-radius: 30px;
    border: 2px solid #2A3744;
    background: #121E28;
    margin-top: 200px;
    margin-bottom: 100px;
}

.latest {
    color: #9AAFC3;
    font-size: 36px;
    font-weight: 600;

}

.weeklysection {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

input {
    border-radius: 16px;
    border: 2px solid #2A3744;
    background: #121E28;
    display: flex;
    width: 300px;
    height: 48px;
    align-items: center;
    margin-top: 1px;
    margin-right: 30px;

}

input::placeholder {
    margin-left: 20px;
}



.pressheader {
    width: 70%;
    justify-content: center;
    display: flex;
}

.presstext {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.presstext2 {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

.arrowtext {
    font-weight: 700;
    color: #8395A7;
    padding-right: 5px;
}

.press {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1141px;
    height: 494px;
    margin-bottom: 100px;
    /* border: 1px outset rgb(22, 8, 219); */
}

.presscard1 {
    width: 370px;
    height: 382px;
    background: #77E6FF;
    border-radius: 20px;
    margin: 10px;
}

.presscard2 {
    width: 370px;
    height: 382px;
    background: #E2C1F9;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: -20px;
}

.presscard3 {
    width: 370px;
    height: 382px;
    background: #DBE268;
    border-radius: 20px;
    margin: 10px;
}

.cardtitle {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 24px;
    margin-bottom: 10px;
}

.cardimg {
    width: 120px;
    height: 39px;
}

.bigtext {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: start;
    font-size: 20px;
    margin-left: 20px;

}

.cardtext {
    font-weight: 700;
    color: #121E28;
    margin-right: 30px;
}

.smalltext {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: start;
    margin-left: 20px;
}

.smallwords {
    font-size: 17px;
    color: #121E28;
    font-weight: 600;
    margin-right: 30px;
    margin-top: 10px;
}

.space {
    margin-bottom: 10px;
}

.bottemwords {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: 20px;
    padding-top: 90px;
}



.blackarrow {
    width: 13px;
    height: 12px;
    margin-right: 10px;
    margin-top: 4px;
}

.arrow2 {
    margin-left: 10px;
}

.bluecard {
    border-radius: 20px;
    border: 2px solid #2A3744;
    background: #121E28;
    width: 370px;
    height: 334px;
    backdrop-filter: blur(2px);
    margin: 30px;



}



.cardtextwhite {
    font-weight: 700;
    font-size: 20px;
    color: white
}

.smallwordswhite {
    font-size: 17px;
    color: white;
    margin-right: 30px;
    margin-top: 10px;
}

.arrowwhite {
    margin-left: 10px;
    color: aliceblue;
}

.starplacement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goosidea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ideatext {
    display: flex;
    justify-content: center;
    width: 100%;

    height: 100px;
}

.emailbutton {
    margin: 10px;
    width: 280px;
    height: 84px;
    display: flex;
    border-radius: 16px;
    flex-direction: row;
    background: var(--purple-light, #E2C1F9)
}

.telegrambutton {
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 84px;
    border-radius: 16px;
    background: #FFC803;
}

.lefticon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;

}

.topicon {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 30px;
    display: flex;
}

.iconsection {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;

}

.smalliconsection {
    background: #e0b92f;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.smalliconsection2 {
    background: #dfabe0;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.icontext {
    margin-top: 20px;
    color: #4D3705;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

}

.iconsmalltext {
    color: #4D3705;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 15px;
}