* {
    margin: 0%;
    font-family: "Montserrat", serif;

}

h4 {
    color: aliceblue;
    font-size: 200px;
}

p {
    color: aliceblue;
    font-size: larger;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(16, 17, 41, 1) 46%, rgba(0, 0, 0, 1) 87%);
}