nav {
    height: 104px;
    display: flex;
}

.navleft {
    display: flex;
    width: 33%;
    justify-content: center;
}

.navmid {
    display: flex;
    width: 33%;
    justify-content: center;
}


ul {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    list-style-type: none;
    display: flex;
}

li {
    display: inline;
    margin-right: 44px;
    margin-top: 20px;
    font-size: 20px;
}

li :hover {
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
    color: rgba(255, 180, 211, 1);
    ;
}

.navright {
    display: flex;
    width: 33%;
    justify-content: center;
}

.pink {
    color: rgba(255, 180, 211, 1);
    font-size: xx-large;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 40px;
}



.loginbutton {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color: rgba(36, 50, 65, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 14px;
    margin: 6px 2px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    line-height: 0px;
    width: 52px;
    height: 22px;
}